.head{
    background-color: #0a192f;
    padding: 10px 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
/* .head header{
    max-width: unset;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
} */
.head .logo{
    position: relative;
    transition: .3s ;
    -webkit-transition: .3s ;
    -moz-transition: .3s ;
    -ms-transition: .3s ;
    -o-transition: .3s ;
}
.head .logo:hover{
    transform: translate(4px, -4px);
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    -o-transform: translate(4px, -4px);
}
.head .logo img{
    width: 84px;
    height: 84px;
    position: relative;
}
.head .logo span{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #64ffd9;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 18px;
}
.head .links li a{
    color: white;
    font-size: 13px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.head .links li a:hover{
    color: #64ffd9;
}
.head .links li a span{
    color: #64ffd9;
    margin-right: 5px;
}
.resume{
    color: #64ffd9;
    border: 1px solid #64ffd9;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    line-height: 1;
    font-size: 13px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.resume:hover{
    transform: translate(4px, -4px);
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    -o-transform: translate(4px, -4px);
    box-shadow: -3px 3px #64ffd9;
}
.head .menubtn{
    color: #64ffd9;
}
.menu{
    background-color: #112240 !important;
    color: white;
    padding-top: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 0px 30px -15px black;
    margin-left: auto;
}
.menu li a{
    color: white;
    display: flex;
    flex-direction: column;
}
.menu li a span{
    color: #64ffd9;
}

@media screen and (min-width:768px) {
    .head .menubtn{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .head .links{
        display: none;
    }
}
