.projects{
    max-width: 1000px;
    margin: 0 auto;
    text-align: start;
    padding-bottom: 100px;
}
.projects h2{
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: start;
}
.projects h2 span{
    color: #64ffd9;
}